# App settings
PORT=8080
JWT_SECRET=super-secret-key-change-me

# Database
DB_DSN=postgres://user:password@db:5432/wishlist?sslmode=disable
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=wishlist